body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f1f5f9;
}

header {
    background: white;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.container {
    padding: 20px 40px;
}

/* SEARCH */
.searchWrapper { position: relative; margin-bottom: 20px; z-index: 2000; }
#searchBox {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* SUGGESTION */
#suggestions {
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 10px;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.suggestionItem {
    padding: 12px;
    cursor: pointer;
}
.suggestionItem:hover {
    background: #eff6ff;
}

/* MENU */
#menu { margin-bottom: 15px; display: flex; gap: 10px; align-items: center; }

button {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(135deg,#3b82f6,#2563eb);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover { transform: scale(1.05); }

/* FLOOR */
#floorContainer {
    height: 75vh;
    overflow: auto;
    background: white;
    border-radius: 12px;
    cursor: grab;
}
#floorContainer:active { cursor: grabbing; }

#floor {
    display: flex;
    gap: 120px;
    padding: 200px;
    transform-origin: 0 0;
    width: max-content;
}

/* HALL */
.hall { display: flex; flex-direction: column; gap: 10px; }

.hall h2 {
    margin: 0;
    padding: 8px 12px;
    background: #f1f5f9;
    border-radius: 8px;
    cursor: pointer;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    gap: 10px;
}

/* BOOTH */
.booth {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    user-select: none;
}

/* COLORS */
.available { background: #3b82f6; }
.booked { background: #ef4444; }
.plotting { background: #eab308; }

/* TOOLTIP */
.booth:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    background: #111;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
}

/* HIGHLIGHT */
.highlight {
    animation: blink 1s linear infinite;
    border: 4px solid yellow;
}
@keyframes blink {
    50% { opacity: 0.3; }
}

/* PANEL */
#sidePanel {
    position: fixed;
    right: 20px;
    top: 120px;
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 12px;
}
.hidden { display: none; }

/* MINIMAP */
#minimap {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 180px;
    height: 120px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}
#miniViewport {
    position: absolute;
    border: 2px solid red;
}
